.container{
	padding-top: 70px;
	padding-bottom: 30px;
}

.title_section{
    text-align: center;
    padding-bottom: 70px;
}



/*---- Header ----*/

nav{
	float:right;
	margin-top:20px
}

header{
	margin:20px;
}

ul{
	padding-left:0px;
}

ul li{
	display:inline-block;
	font-size:16px;
	text-transform:uppercase;
	padding:5px;
	margin:10px;
	
}

ul li a{
	color:rgba(0, 0, 0, 0.77);
	font-weight:600;
	padding-bottom:5px;

}

ul li a:hover{
	color:rgba(0, 0, 0, 0.77);
	font-weight:600;
	text-decoration:none;
	color:#dd4526;
	border-bottom:5px solid #dd4526;
}

#logo{
	width:300px;
	margin-left:20px;
	margin-right:50px;
}



/*-- End Header --*/

/*---- Slider ----*/

.jssorb05{
    position: absolute;
}

.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av{
    position: absolute;
    /* bulle*/
    width: 16px;
    height: 16px;
    background: url('../img/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb05 div { 
	background-position: -7px -7px; 
}

.jssorb05 div:hover, .jssorb05 .av:hover { 
	background-position: -37px -7px; 
}

.jssorb05 .av { 
	background-position: -67px -7px; 
}
.jssorb05 .dn, .jssorb05 .dn:hover { 
	background-position: -97px -7px;
}

.jssora031 {
	display:block;
	position:absolute;
	cursor:pointer;
}

.jssora031 {
	fill:#fff;
}

.jssora031:hover {
	opacity:.8;
}

/*-- End Slider --*/

/*---- About ----*/

#section_about{
	background-color: #f5f5f5;
}

#img_about{
	width:500px;
	
}

.first_word{
	color:#438ad3;
	margin-right:10px;
	border-bottom:3px solid #dd4526;
}

.second_word{
	color:#dd4526;
	margin-right:10px;
}

#section_about p{
	padding-top:20px; 
}

/*-- End About --*/

/*-- Service --*/

#section_service h1{
	text-align:center;
	padding-bottom:70px;
}

p.paragraphe_service{
	 padding-top:20px;
}

.fa-6 {
    font-size: 5em!important;
    color:#dd4526;
    border:1px solid #438ad3;
    border-radius:50%;
    padding:10px;
    position:absolute;
    left:140px;
    bottom:230px;    
    background-color: #f5f5f5;  
}

.title_service{
	color:#438ad3;
	padding-top:50px
}

.container_service{
	text-align:center;
	margin-top:50px;
	background-color: #f5f5f5;
	padding-bottom:20px;
}

.container_service p{
	width:90%;
	margin:auto;
}

#interligne{
	padding-top: 30px;
}

#section_service .container{
	padding-bottom:70px
}

/*-- EndService --*/

/*-- L'equipe --*/

#section_equipe h1{
	padding-top: 70px;
	text-align: center;
	padding-bottom:60px;
}

#section_equipe{
	background-color: #f5f5f5;
}

#section_equipe .row{
	background-color:black;
}

#section_equipe img:hover{
	opacity:0.4
}

.img_staff{
	width:100%;
}

#section_equipe .col-md-3{
	padding:0px!important;
}

#section_equipe .row{
	margin:0px!important;
}


/*-- End Equipe --*/

/*-- Client --*/

#section_client{
	background-image: url(../img/background.jpg);
}

#section_client h1{
	padding-top: 70px;
    text-align: center;
    padding-bottom: 60px;
    color:white;
    margin-top:0px;
}

#section_client p{
	color:white;
	padding-top:20px;
	line-height:26px;
	text-align:center;
}

#section_client #avatar{
	border-radius:50%;
	width:10%;
	margin: auto;
}

#background{
	background-color: rgb(50,50,50);
  	background-color: rgba(50,50,50,0.6);
}

#client{
	display:block;
	text-align: center;
}

#name{
	padding-top:20px!important;
	font-style:italic;
	font-size:20px;
	padding-bottom:80px
}

.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}


/*-- End Client --*/


/*-- Valeurs --*/

#section_valeur{
	background-color:#f5f5f5;
}

.title_section{
	padding-bottom:50px;
}

#section_valeur h2{
	text-align:center;
	padding-bottom:60px;
	font-size:22px;
	font-style:italic;
}

.circle{
	border:2px solid black;
	height:280px;
	border-radius:50%;
	width:280px;
	text-align: center;
}

.square_left{
	text-align:-webkit-right;
	padding-right:50px
}

.square_right{
	padding-left:50px;
}

.square_middle{
	text-align:-webkit-center;
}

.middle{
	text-align:center!important;
}

#believe{
	width:70%;
	padding-top:25px;
}

.logo_valeur{
	width: 100px;
	padding-top: 20px;
}



/*-- End Valeurs --*/

/*-- Blog --*/

.owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}

.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot{
    background: #869791;
}

.owl-dots{
	text-align: center;
}

.owl-nav {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.owl-prev{
	display:inline-flex;
	margin-right:15px;
	background-color: rgba(162, 161, 161, 0.8);
	padding:1px 9px;
	color:white;
}

.owl-next{
	display:inline-flex;
	background-color: rgba(162, 161, 161, 0.8);
	padding:1px 9px;
	color:white;
}

/*-- End Blog --*/

/*-- Contact --*/

#section_contact{
	background-color:#f5f5f5;
}

#section_contact h1{
	text-align:center;
	padding-bottom:30px;
}

#section_contact h1 .first_word{
	border:none;
}

.contact{
	padding:10px;
}

input{
	border:2px solid #dd4526;
	padding:5px; 
	width:100%;
}

#subject{
	width:100%
}

textarea{
	border:2px solid #dd4526;
	padding:5px;
	width:100%;
	height:200px;
}

.button_submit{
	margin:10px;
	padding: 5px;
    background-color: #dd4526;
    border: none;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 2px 2px 0 rgba(134, 128, 128, 0.67);
    margin-bottom: 20px;
    text-decoration: none;
    margin-top: 10px;
}

.button_submit:hover{
	transform: translate(2px,2px);
    box-shadow: none;
}

.contact_bg{
	background-color:white;
	height:325px;	
}

.contact_bg .row{
	padding:10px;
}

.contact_bg span{
	padding-left:10px;
}

.square_shape{
	height: 65px;
    width: 65px;
    -ms-transform: rotate(45deg); /* Internet Explorer */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari et Chrome */
    -o-transform: rotate(45deg); /* Opera */
    background-color:#dd4526;
    border-radius:5px;
    text-align:center;
    margin-right:50px

}

.fa-4{
	font-size:2em!important;
    color:#dd4526;
    border-radius:50%;
    width:55px;
    height:55px;
    padding-top:12px;
    margin:5px;
     -ms-transform: rotate(-45deg); /* Internet Explorer */
    -moz-transform: rotate(-45deg); /* Firefox */
    -webkit-transform: rotate(-45deg); /* Safari et Chrome */
    -o-transform: rotate(-45deg); /* Opera */
    background-color:white;
}

.ico{
	margin-left:10px;
	display:flex;
}

#map{
	width: 100%;
}

#copyright {
    background-color: rgba(3, 6, 9, 0.84);
    color: white;
    text-align: center;
    padding: 10px;
}

/*-- End Contact --*/


/*-- Responsive Service --*/

@media screen and (max-width:1200px){
	.fa-6 {
		left:110px;
		bottom:247px;    
	}
}

@media screen and (max-width:994px){
	.fa-6 {
		bottom:180px; 
		left:325px   
	}

	#section_service h2{
		font-size:25px;
		padding-top:70px
	}
}

@media screen and (max-width:768px){
	.fa-6 {
		left:325px    
	}

	h1.title_section{
		padding-bottom:20px!important;
	}

	.container_service{
		margin-top:70px!important;
		width:80%;
		margin:auto;
	}

	#interligne{
		padding-top: 0px;
	}
}

@media screen and (max-width:758px){
	.fa-6 {
		left:320px;
		bottom:200px    
	}

	h1.title_section{
		padding-bottom:20px!important;
	}

	.container_service{
		margin-top:70px!important;
		width:80%;
		margin:auto;
	}
}

@media screen and (max-width:718px){
	.fa-6 {
		left:300px;
		bottom:200px    
	}
}


/*-- End Responsive Service --*/