.carousel-control {
    top: -100px;
}

.container{
	padding-top: 70px;
	padding-bottom: 30px;
}

.title_section{
    text-align: center;
    padding-bottom: 70px;
}

#jssor_1{
	top:150px!important;
}
#section_about {
	margin-top:150px
}


/*--- Translation Menu ---*/

.translate_open{
	transition: transform .3s ease-in-out;
    transform: translateX(0px);
}

/*--- Translation Menu ---*/


/*---- Header ----*/

nav{
	float:right;
	margin-top:20px
}

header{
	padding:20px;
	position:fixed;
	z-index:200;
	background-color:white;
	width:100%;
}

ul{
	padding-left:0px;
}

ul li{
	display:inline-block;
	font-size:16px;
	text-transform:uppercase;
	padding:5px;
	margin:10px;
}

ul li a{
	color:rgba(0, 0, 0, 0.77);
	font-weight:600;
	padding-bottom:5px;
}

ul li a:hover{
	color:rgba(0, 0, 0, 0.77);
	font-weight:600;
	text-decoration:none;
	color:#dd4526;
	border-bottom:5px solid #dd4526;
}

#logo{
	width:300px;
	margin-left:20px;
	/* margin-right:50px; */
}


#hamburger_menu{
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display:none;
}

#hamburger_menu span {
  position: absolute;
  height: 6px;
  width: 100%;
  background: #dd4526;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburger_menu span:nth-child(1) {
  top: 0px;
  background-color:#438ad3;
}

#hamburger_menu span:nth-child(2),#hamburger_menu span:nth-child(3) {
  top: 13px;
}

#hamburger_menu span:nth-child(4) {
  top: 26px;
  background-color:#438ad3;

}

#hamburger_menu.open span:nth-child(1) {
  top: 1px;
  width: 0%;
  left: 50%;
}

#hamburger_menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger_menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger_menu.open span:nth-child(4) {
  top: 16px;
  width: 0%;
  left: 50%;
}

/*-- End Header --*/

/*---- Slider ----*/

.jssorb05{
    position: absolute;
}

.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av{
    position: absolute;
    /* bulle*/
    width: 16px;
    height: 16px;
    background: url('../img/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb05 div { 
	background-position: -7px -7px; 
}

.jssorb05 div:hover, .jssorb05 .av:hover { 
	background-position: -37px -7px; 
}

.jssorb05 .av { 
	background-position: -67px -7px; 
}
.jssorb05 .dn, .jssorb05 .dn:hover { 
	background-position: -97px -7px;
}

.jssora031 {
	display:block;
	position:absolute;
	cursor:pointer;
}

.jssora031 {
	fill:#fff;
}

.jssora031:hover {
	opacity:.8;
}

/*-- End Slider --*/

/*---- About ----*/

#section_about{
	background-color: #f5f5f5;
}

#img_about{
	width:500px;
	
}

.first_word{
	color:#438ad3;
	margin-right:10px;
	border-bottom: 3px solid #dd4526;
}

.second_word{
	color:#dd4526;
	margin-right:10px;
}

#section_about p{
	padding-top:20px; 
}

#title_home{
	font-size: 20px;
}

/*-- End About --*/

/*-- Service --*/

#section_service h1{
	text-align:center;
	padding-bottom:70px;
}

p.paragraphe_service{
	 padding-top:20px;
}

.fa-6 {
    font-size: 5em!important;
    color:#dd4526;
    border:1px solid #438ad3;
    border-radius:50%;
    padding:15px;
    position:absolute;    
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #f5f5f5;  
}

.title_service{
	color:#438ad3;
	padding-top: 80px;
}

.container_service{
	text-align:center;
	margin-top:50px;
	background-color: #f5f5f5;
	height:270px
}

.container_service p{
	width:90%;
	margin:auto;
}

#interligne{
	padding-top: 30px;
}

#section_service .container{
	padding-bottom:70px
}

.img_service{
    width:120px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*-- End Service --*/

/*-- Langugage --*/ 

#section_language .row{
    padding: 50px;
    margin-right:0px;
    margin-left:0px;
}

.scrum{
	margin-top:50px;
}

#section_language{
	text-align:center;
	background-color: rgb(245, 245, 245);
}

#section_language .container{
	padding-top: 0px; 
    padding-bottom: 30px;
    
}

.logo_language{
	width:150px;
}

/*-- End Language --*/

/*-- L'equipe --*/

#section_equipe h1{
	padding-top: 70px;
	text-align: center;
	padding-bottom:60px;
}

.img_staff{
	width:100%;
}

#section_equipe .col-md-3{
	padding:0px!important;
}

#section_equipe .row{
	margin:0px!important;
}

#section_equipe .info{
	position: absolute;
    left: 5%;
    color: #fff;
    top:60%;
}

#section_equipe .info .nom{
    display: block;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    font-style:italic;
    display:none;
}

#section_equipe .poste{
    text-transform: uppercase;
    font-size:15px;
    font-weight:800;
    padding: 0 5px;
    display: none;
    float: left;
}

.color1{
	background-color:#41e2b2;
}

.color2{
	background-color:#f27070;
}

.color3{
	background-color:#3aa9ce;
}

.color4{
	background-color:#e8e810;
}

/*-- End Equipe --*/

/*-- Client --*/

.carousel{
	height:380px;
}

#section_client{
	background-image: url(../img/background.jpg);
}

#section_client h1{
	padding-top: 70px;
	text-align: center;
	padding-bottom: 60px;
	color:white;
	margin-top:0px;
}

#section_client p{
	color:white;
	padding-top: 40px;
	line-height:26px;
	text-align:center;
	font-size: 17px;
	width: 70%;
	margin: auto;
}

#section_client #avatar{
	margin: auto;
	width: 130px;
}

#background{
	background-color: rgb(50,50,50);
	background-color: rgba(50,50,50,0.6);
}

#client{
	display:block;
	text-align: center;
}

#name{
	padding-top:20px!important;
	font-style:italic;
	font-size:15px;
	padding-bottom:80px
}

.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}

/*-- End Client --*/

/*-- Valeurs --*/

#section_valeur{
	background-color:#f5f5f5;
	padding-bottom: 50px
}

#section_valeur h1{
	margin-top:0px;
	padding-top:70px;
}

.title_section{
	padding-bottom:50px;
}

#section_valeur h2{
	text-align:center;
	font-size:22px;
	color:#438ad3;
}

#section_valeur .container{
    padding-top: 0px;
    padding-bottom: 0px;
}

.title_video{
	text-align:center;
	padding-bottom:10px;
	color:#438ad3;
}

#section_valeur h4{
	text-align:center;
	font-size:22px;
	color:#438ad3;
	padding:40px;
}

#container_video{
	text-align:center;
	padding-top:50px;
}

#section_valeur .container_service {
    background-color: #ffffff;
}


/*-- End Valeurs --*/

/*-- Blog --*/

#section_blog .item{
	height:420px;
}
.title_article{
	font-size:20px;
	height:45px;
	color:#438ad3;
}

.article_date{
	color:#dd4526;
	font-size:15px;
}

.item p, .article_date,.title_article, .item a{
	padding:8px;
}


.youtube{
	margin-top: 15px;
}

.img_home_blog{
	height: 170px;
}

.owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}

.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot{
    background: #869791;
}

.owl-dots{
	text-align: center;
}

.owl-nav {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.owl-prev{
	display:inline-flex;
	margin-right:15px;
	background-color: rgba(162, 161, 161, 0.8);
	padding:1px 9px;
	color:white;
}

.owl-next{
	display:inline-flex;
	background-color: rgba(162, 161, 161, 0.8);
	padding:1px 9px;
	color:white;
}




.article_title_plus{
	padding:50px 50px;
	text-align:center;
	color:#438ad3;
}

.article_img_plus{
	width:80%;
}

#section_blog_plus{
	text-align:center;
	padding-top:100px;
}

#section_blog_plus p{
	padding:30px;
}

#section_blog_plus a{
	color:#dd4526;
}

/*-- End Blog --*/

/*-- Contact --*/

#section_contact{
	background-color:#f5f5f5;
}

#section_contact h1{
	text-align:center;
	padding-bottom:30px;
}

#section_contact h1 .first_word{
	border:none;
}

.contact{
	padding:10px;
}

input{
	border:2px solid #dd4526;
	padding:5px; 
	width:100%;
}

#subject{
	width:100%
}

textarea{
	border:2px solid #dd4526;
	padding:5px;
	width:100%;
	height:200px;
}

.button_submit{
	margin:10px;
	padding: 5px;
    background-color: #dd4526;
    border: none;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 2px 2px 0 rgba(134, 128, 128, 0.67);
    margin-bottom: 20px;
    text-decoration: none;
    margin-top: 10px;
}

.button_submit:hover{
	transform: translate(2px,2px);
    box-shadow: none;
}

.contact_bg{
	background-color:white;
	height:310px;
	margin-top: 10px
}

.contact_bg .row{
	padding:10px;
}

.contact_bg span{
	padding-left:10px;
	font-size:20px;
	color:#438ad3;
}

.ico{
	margin-left:10px;
	display:flex;
}

#map{
	width: 100%;
	height:400px;
}

#copyright {
    background-color: rgba(3, 6, 9, 0.84);
    color: white;
    text-align: center;
    padding: 10px;
}

.row .ico{
	margin-top:50px;
}

.social_logo{
	padding-right:30px;
}

#message_send{
	margin-top:20px;
	padding-left: 10px;
    font-size: 20px;
    color: #438ad3;
}

.title_contact{
	color: #438ad3
}

/*-- End Contact --*/

/*------------------------------------------------------------ RESPONSIVE ---------------------------------------------------------------------*/

/*-- Responsive Header --*/

@media screen and (max-width:1206px){
	header{
		text-align:center;
		margin-left: 0px;
		margin-right: 0px;
		padding:10px;
	}
	nav{
		float:none;
		margin-top:0px;
	}
}

@media screen and (max-width:517px){
	#logo {
		width:200px!important;
		margin-top:15px;
		margin-right:5px;
	}
}

@media screen and (max-width:836px){
	header{
		text-align:left;
	}
	#hamburger_menu{
		display:block;
		float:right;
		margin: 30px 25px auto;
	}
	nav{
    	display:block;
		width:41%;
		position:fixed;
		left:0;
		top:130px;
		background-color:black;
		opacity:0.7;
		transition: transform .3s ease-in-out;
    	transform: translateX(-320px);
	}
	ul li{
		display:block;
		font-size:16px;
		text-transform:uppercase;
		padding:5px;
		margin:30px;
	}
	ul li a{
		color:white!important;
	}
}

/*-- End Responsive Header --*/ 

/*-- Responsive About --*/

@media screen and (max-width:992px){
	#section_about h1{
		text-align:center;
		padding-bottom:50px
	}
	#section_about p{
		padding-bottom:30px
	}
}

@media screen and (max-width:1059px){
	#img_about{
		width:99%!important;
	}
}

/*-- End Rsponsive About --*/

/*-- Responsive Service --*/

@media screen and (max-width:992px){
	.container_service{
		margin-top:60px;
	}
}

/*-- End Rsponsive Service --*/

/*-- Rsponsive Language --*/

@media screen and (max-width: 991px){
	.logo_language{
		width:100%;
	}
	.scrum{
		margin-top:20px;
	}
}

@media screen and (max-width: 768px){
	.logo_language{
		width:100%;
		padding:0px;
	}
	.scrum{
		margin-top:20px;
	}
}

@media screen and (max-width: 500px){
	.logo_language{
		width:50px;
		padding:0px;
	}
}

@media screen and (max-width: 404px){
	.logo_language{
		width:40px;
	}
}

/*-- End Rsponsive Language --*/

/*-- Responsive Equipe --*/

@media screen and (max-width: 991px){
	#section_equipe .info{
	    top:70%;
	}
}

/*-- End Responsive Equipe --*/

/*-- Responsive Client --*/

@media screen and (max-width:887px){
	#section_client p {
		line-height: 20px;
		font-size: 15px;
		width:100%;
		padding-top: 20px;
	}
	#section_client h1 {
		padding-top:70px;
		text-align: center;
		padding-bottom: 30px;
	}
	.carousel-indicators {
		position: absolute;
		bottom:0px;
	}
}

/*-- End Rsponsive Client --*/

/*-- Responsive Valeur --*/

@media screen and (max-width:1200px){
	.square_left{
		text-align:-webkit-center;
		padding-right:0px;
		padding-left:0px;
		padding-bottom:20px;
	}

	.square_right{
		text-align:-webkit-center;
		padding-left:0px;
		padding-right:0px;
		padding-bottom:20px;
	}

	.square_middle{
		text-align:-webkit-center;
		padding-bottom:20px;
	}

	.middle{
		text-align:center!important;
	}

	#believe{
		padding-top:15px;
		padding-left:0px;
		padding-right:0px;
	}

	.logo_valeur{
		width:60px;
		padding-top:20px;
	}

	.tooltip{
		width:200px!important;

	}
	.video_valeur{
		width:99%;
	}
}

@media screen and (max-width:992px){
	#section_valeur h3{
		text-align:center;
		padding-bottom:20px;
	}
	#section_valeur .container{
		padding-top:20px;
	}
}

/*-- End Responsive Valeur --*/

/*-- Responsive Blog --*/

@media screen and (max-width:1207px){
	.logo_article{
		margin-left:0px!important;
		text-align:center!important;
	}
	#header_blog_plus{
		text-align:center
	}

}

/*-- End Responsive Blog --*/

/*-- Responsive Contact --*/

@media screen and (max-width:992px){
	#section_contact .contact_bg{
		text-align:center;
	}
	#section_contact .row .ico {
		justify-content: center;
	}
}

/*-- End Responsive Contact --*/

